DATABASE_URL=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
SHOPCORE_ADMIN_EMAIL=
SHOPCORE_ADMIN_PASSWORD=
SHOPCORE_ADMIN_FULL_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=